.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    display: flex;
    flex: 1;
    overflow: auto;
}

.not_found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}